.header {
    margin-bottom: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    background-color: coral;
    padding: 5px;
    border-radius: 5px;
    
}

nav a:hover {
    color: white;

}